.content-center{
    text-align: center;
}

header {
    font-size: 30pt;
    font-weight: bolder;
    margin-bottom: 30px;
}

.btn-holder {
    margin : 20px;
    border: 1px solid pink;
    background: lightgray;
    text-align: center;
    padding: 30px;
}

.btn{
    position: relative;
    width: 300px;
    height: 100px;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}

.btn:hover{
    margin-left: -10px;
    margin-top: -10px;
    margin-right: 10px;
    margin-bottom: 10px;
    left:0;
    top:0;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    background: forestgreen;
    color: white;
    transition-duration: 500ms;
    border-color: green;
    /* transition-timing-function: linear; */
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: ease-in-out;  */
    transition-timing-function: cubic-bezier(0.2,-0.73, 0.94, 1.76); 
}

.btn:hover::after{
    position:absolute;
    content:'';
    left:0;
    top:0;
    width: calc( 100% + 15px );
    height: calc( 100% + 15px );
    /* border: 1px solid yellow; */
}

.btn{
    transition-duration: 500ms;
    transition-timing-function: ease-in-out; 
}
